<div id="copyright">
    <ul>
        <li>&copy; FDU-VIS All rights reserved.</li>
        <!-- <li>Design: <a href="http://miccall.tech " style="border-bottom: none;">miccall</a></li>
            </ul> -->
        <% if(theme.busuanzi.enable===true ) { %>
            <span id="busuanzi_container_site_pv">本站总访问量<span id="busuanzi_value_site_pv"></span>次</span>
            <% } else { %>
                <span id="busuanzi_container_site_pv">
                    <%- date(Date.now(), 'YYYY' ) %>
                </span>
                <% } %>
    </ul>
</div>